select{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: none;
    option{
        height: 40px;
    }
    
}
.azeriPag{
    button{
        background-color: red;
        width: 40px;
        height: 40px;
        border-radius: 20px;
        color: white;
        background-color: black;
    }
}
