.legocard{
    height: auto;
    h5{
        font-size: 17px;
    }
}
.deliver{
    background-color: green;
    width: 120px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}