body {  
  color:black;
  font-family:Helvetica Neue, sans-serif;
  line-height:1.15;
  font-size:16px;
}  
* { 
  box-sizing: inherit;
} 

body { 
  margin: 0;
} 

body { 
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; 
  line-height: 16px;
} 

body { 
  min-width: 320px; 
  line-height: 1; 
  min-height: 100%; 
  height: auto;
} 

body { 
  background-color: white; 
  background-size: cover; 
  font-size: 16px; 
  font-family: Helvetica Neue, sans-serif; 
  // title: Helvetica+Neue; 
  -webkit-font-smoothing: antialiased; 
  text-decoration-skip: ink; 
  -ms-overflow-style: -ms-autohiding-scrollbar; 
  -webkit-text-decoration-skip: ink;
} 

html { 
  line-height: 1.15; 
  -ms-text-size-adjust: 100%; 
  -webkit-text-size-adjust: 100%;
} 

html { 
  box-sizing: border-box; 
  -ms-overflow-style: scrollbar; 
  -webkit-tap-highlight-color: transparent;
} 

html { 
  height: 100%;
} 

html { 
  font-size: 16px;
} 

.swiper-wrapper { 
  position: relative; 
  width: 100%; 
  height: 100%; 
  z-index: 1; 
  display: -webkit-box; 
  display: -ms-flexbox; 
  display: flex; 
  -webkit-transition-property: -webkit-transform; 
  transition-property: -webkit-transform; 
  transition-property: transform; 
  transition-property: transform, -webkit-transform; 
  -webkit-box-sizing: content-box; 
  box-sizing: content-box;
} 

.swiper-wrapper { 
  -webkit-transform: translate3d(0px, 0, 0); 
  transform: translate3d(0px, 0, 0);
} 

.swiper-wrapper { 
  -webkit-box-flex: 1; 
  -ms-flex: 1 1 100%; 
  flex: 1 1 100%; 
  -webkit-box-align: stretch; 
  -ms-flex-align: stretch; 
  align-items: stretch;
} 

*,:after,:before { 
  box-sizing: inherit;
} 

.swiper-slide { 
  -ms-flex-negative: 0; 
  flex-shrink: 0; 
  width: 100%; 
  height: 100%; 
  position: relative;
} 

.block_review { 
  border: 4px solid #f6f6f6; 
  padding: 10px; 
  margin-bottom: 15px;
} 

.text-center { 
  text-align: center;
} 

p { 
  margin-top: 0; 
  margin-bottom: 1rem;
} 

.block_review .info  { 
  font-size: 12px; 
  color: #777;
} 

img { 
  border-style: none;
} 

img { 
  max-width: 100%; 
  vertical-align: middle;
} 

.block_review img  { 
  margin-bottom: 10px; 
  max-height: 400px;
} 


/* These were inline style tags. Uses id+class to override almost everything */
#style-8d7aW.style-8d7aW {  
 width: 369.333px;  
  margin-right: 16px;  
}  
#style-BroVC.style-BroVC {  
 width: 369.333px;  
  margin-right: 16px;  
}  
#style-8SPLe.style-8SPLe {  
 width: 369.333px;  
  margin-right: 16px;  
}  
#style-HN2Of.style-HN2Of {  
 width: 369.333px;  
  margin-right: 16px;  
}  
#style-JOoHf.style-JOoHf {  
 width: 369.333px;  
  margin-right: 16px;  
}  
#style-eP9GN.style-eP9GN {  
 width: 369.333px;  
  margin-right: 16px;  
}  
#style-N99JH.style-N99JH {  
 width: 369.333px;  
  margin-right: 16px;  
}  

