*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.top__all{
    height: 60px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    

}
.top{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.top__all__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    gap: 130px;

    &__left{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        i{
            font-size: 40px;
            color: #dc0708;
        }
    }
    &__middle{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        i{
            font-size: 40px;
            color: #dc0708;
        }
    }
    &__right{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        i{
            font-size: 40px;
            color: #dc0708;
        }
    }
}
@media only screen and (max-width: 970px) {
    .top__all__top{
     p{
        font-size: 15px;
     }
    }
   }
@media only screen and (max-width: 770px) {
   .top__all__top{
    display: none;
   }
  }